* {
margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}


    
header {
        height: 11vh;
        width: 100%;
        display: flex;
        background-color: #C7C4BF;
    }
.part1 {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.name {
    font-size: 35px;
    margin-left: 5px;
    cursor: default;
}

.logo {
    width: 64px;
    height: 64px;
}
    
.part2 {
        width: 75%;
        height: 100%;
        font-size: 25px;
        font-weight: 600;
        display: flex;
        align-items: center;
    justify-content: space-around;
    }    

ul {
    display: flex;
}
    
li {  
list-style-type: none;
        margin: 3px 20px;
}

a {
    text-decoration: none;
    color: #000;
}

#active {
    text-decoration: underline;
    font-weight: 700;
    text-shadow: 0 2px 20px #666;
}
    

.page1 {
    height: 89vh;
    width: 100%;
    background-image: url(Images/Background.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    width: 75%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;
    background-color: #d7C4BF;
    padding: 10px;
    border-radius: 15px;
    font-size: 30px;
}

.btns {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    padding: 6px;
    margin: 6px;
    font-size: 30px;
    background-color: #d7C4BF;
    border: 1px solid #333;
    border-radius: 45px;
}
 
.page2 {
    height: 100vh;
    width: 100%;
    background: #C7C4BF;
    display: flex;
}

.w50 {
    width: 50%;
    height: 100vh;
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.w40 {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.father {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 560px;
}

.breaking {
    width: 560px;
    height: 315px;
    background-image: url(Images/killer.jpg);
    background-size: contain;
}

.president {
    font-weight: 400;
    font-size: 32px;
}

.red {color: red;}

.time {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    font-size: 20px;
    margin: 3px;
}

.h2 {
    font-size: 35px;
}

.be_pres {
    width: 320px;
    height: 175px;
    background-image: url(Images/breaking.jpg);
    background-size: cover;
}

.before {
    width: 560px;
    display: flex;
}

.text_pres {
     font-size: 28px;
    width: 240px;
    margin-left: 5px;
}

.left_be {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.father-w40 {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-w40 {
    height: 24%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.ri-photo {
    width: 320px;
    height: 180px;
    background-size: cover;
}

#dovbik {
    background-image: url(Images/dovbik.jpg); 
}

#anglia {
    background-image: url(Images/Anglia.jpg)
}

#italy {
    background-image: url(Images/Italy.jpg);
}

#piglets {
    background-image: url(Images/piglets.jpg);
}

#lukashenko {
    background-image: url(Images/lukashenko.jpg);
}

#melovin {
    background-image: url(Images/Melovin.jpg)
}

#killer {
    background-image: url(Images/killer.jpg)
}

#president {
    background-image: url(Images/breaking.jpg);
}

footer {
    height: 35vh;
    width: 100%;
    background-color: #333;
    display: flex;
}

.left-ft {
    width: 50%;
    height: 100%;
    display: flex;
}

.left-left-ft {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-style: italic;
    font-size: 32px;
}

.right-left-ft {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.media {
    height: 64px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.insta {
    background-image: url(Images/instagram.png);
    height: 32px;
    width: 32px;
    background-size: contain;
}

.media-text {
    color: white;
    margin-left: 3px;
    font-size: 30px;
    font-weight: 100;
}

.telegram {
    background-image: url(Images/telegram.png);
    height: 32px;
    width: 32px;
    background-size: contain;
}

.github {
    background-image: url(Images/github.png);
    height: 32px;
    width: 32px;
    background-size: contain;
}
    
.right-ft {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ukraine-page1 {
    background-color: #fff;
    background-image: none;
}

.new-box {
    height: 43vh;
    margin-left: 5px;
}

.new-ua {
    background-size: cover;
    width: 480px;
    height: 270px;
}

.up {
    width: 50%;
}

.left-be {
    width: 50%;
    height: 100%;
}

.down-new {
    display: flex;
    flex-direction: row-reverse;
}

.page-review {
    background-color: #FFF9E9;
    height: 89vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-box {
    width: 35%;
    height: 30vh;
    border: 2px solid #333;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 2px #333;
}

.review-text {
    font-size: 40px;
    font-weight: 400;
}

.review-btns {
    font-size: 60px;
    font-weight: 900;
}

.page1-new {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


.left-new {
    width: 70%;
}

.right-new {
    width: 20%;
}

.new-h1 {
    margin: 10px 20px;
}

.new-img {
    width: 820px;
    margin: 10px 20px;
}

.new-text {
    font-size: 25px;
    margin: 25px 15px;
}

.new-img-litle {
    width:250px;
    margin-top: 100px;
}

.new-block-time {
    font-size: 15px;
    position: relative;
    right: 22px;
}















/*
@media screen and (min-width:450px) {
    
    header {
        height: 10%;
        width: 100%;
        display: flex;
        background-color: #333;
    }
    
    .part1 {
        display: none;
    }
    
    .part2 {
        width: 100%;
        font-size: 20px;
        text-decoration: none;
        text-shadow: 0 0 10px #000;
    }
    
    
    
    
    
}*/
